In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
ratings=pd.read_csv('Final_ratings.csv')
ratings.head()

   sponsor_id  creator_id     rating
0     50156.0    400825.0  1276225.2
1     50156.0    231857.0  1497851.4
2     50156.0    264256.0  1289604.5
3     50156.0    240004.0  1831236.2
4     50156.0    518681.0  1641429.0

In [3]:
def recommend(creator_id,attribute):
    suggestions=[]
    uim=ratings.pivot_table(index='creator_id',columns='sponsor_id',values=attribute)
    uim.fillna(0,inplace=True)
    sim_score=cosine_similarity(uim)
    index=np.where(uim.index==creator_id)[0][0]
    sim_item=sorted(list(enumerate(sim_score[index])),key=lambda x:x[1],reverse=True)[1:6]
    for i in sim_item:
        suggestions.append(uim.index[i[0]])
    return suggestions,sim_score

In [4]:
def output(creator_id, k):
    df = pd.DataFrame()
    x, s = recommend(creator_id, k)
    print("Recommendations:", x)
    # df = df.append({'Id': creator_id, '1': x[0], '2': x[1], '3': x[2], '4': x[3], '5': x[4]}, ignore_index=True)
    return x

In [9]:
recommended=output(341328.0,'rating')

Recommendations: [780526.0, 280976.0, 594268.0, 206644.0, 250698.0]

In [8]:
recommended

[594268.0, 206644.0, 169542.0, 341328.0, 780526.0]